.card {
	background-color: #fcf9ea;
}
footer{
	background-color: #49beb7;
}
.intro-2 {
    background: url("images/champ1.jpg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
html,
body,
header,
.view {
    background-color: #badfdb;
    height: 100%;
}
.logo {
	background-image: url(/images/logo-Adventips.png);
	width: 172px;
	height: 200px;
	float: right;
}